<!DOCTYPE html>
<html>
<head>
    <title>Furry Bingo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Corsac bingo</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/showBingo">Show Bingo</a></li>
            <li><a href="/thingEditor">Submit new bingo things</a></li>
            <li><a href="/newUser">Register</a></li>
            <li><a href="/generateBingo">Generate bingo</a> </li>
        </ul>
    </div>
</nav>