<% include ./partials/head.ejs%>
<style>
    body {
        background-image: url("https://i.imgur.com/Jo3Kz6I.gif");
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: 0 -100px;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
    <h1><%= title %></h1>
    <p><%= msg %></p>
<% include ./partials/butt.ejs%>