body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.btn-bingo {
    white-space: normal !important;
    word-wrap: break-word;
    word-break: normal;
    height: 18ex;
    width: 18ex;
    margin: 1ex;
}

.username{
    width: 600px;
}